{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Bienvenido al Sistema de Gestión de Almacén</h1>
    <p class="lead">Selecciona una opción en el menú de navegación:</p>
    <hr class="my-4">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><i class="fas fa-users"></i> Ver Proveedores</h5>
            <a href="{% url 'lista_proveedores' %}" class="btn btn-primary">Ir a Proveedores</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><i class="fas fa-plus-circle"></i> Registrar Proveedor</h5>
            <a href="{% url 'registrar_proveedor' %}" class="btn btn-success">Registrar Proveedor</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><i class="fas fa-users"></i> Ver Clientes</h5>
            <a href="{% url 'lista_clientes' %}" class="btn btn-primary">Ir a Clientes</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><i class="fas fa-plus-circle"></i> Registrar Cliente</h5>
            <a href="{% url 'registrar_cliente' %}" class="btn btn-success">Registrar Cliente</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
